{% extends 'writer/navbar.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h4 class="mb-4">Create Article</h4>

<div class="row">
    <div class="col-md-8">

        <div class="card shadow-sm">
            <div class="card-body p-4">

                <h5 class="mb-3">Write your article</h5>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                   
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        {{ CreateArticleForm.title }}
                    </div>

                   
                    <div class="mb-3">
                        <label class="form-label">Content</label>
                        {{ CreateArticleForm.content }}
                    </div>

                   
                    <div class="form-check mb-3">
                        {{ CreateArticleForm.is_premium }}
                        <label class="form-check-label">Premium Article</label>
                    </div>

              
                    <div class="mb-3">
                        <label class="form-label">Upload Images</label>
                        <input type="file" name="images" class="form-control" multiple>
                    </div>

                    <button class="btn btn-success">Publish Article</button>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}