h1{
    color: #78a6b3;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}


p{
    color:#12de42;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

label[for="profile-pic"] {
  background-color: #2196F3;
  color: white;
}   