{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/account_management.css' %}">
</head>
<body>
    <h1>Welcome To Account Management Page</h1>
    <p>This page you can manage your account</p>
   <form action="">
    
  <label for="profile-pic">Upload a profile picture:</label>
  <input type="file" id="profile-pic" name="profile-pic">
  <input type="submit" value="Submit">
  
   </form>
     

</body>
</html>