{% extends "base.html" %}
{% load static %}

{% block title %}Contact - InsightHub{% endblock %}

{% block content %}

<!-- hero  -->
<section class="container text-center py-5">
  <h1 class="fw-bold mb-3">Contact Us</h1>
  <p class="text-muted fs-5">
    Have questions? Reach out anytime.
  </p>
</section>

<!-- contact  -->
<section class="container py-5">
  <div class="row g-5">

    <!-- for the left form  -->
    <div class="col-lg-6">
      <div class="card p-4 shadow-sm">

        <h4 class="fw-bold mb-3">Send a message</h4>

        <form method="POST">
          {% csrf_token %}

          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" name="name" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Message</label>
            <textarea name="message" class="form-control" rows="4" required></textarea>
          </div>

          <button class="btn btn-success w-100">Send Message</button>
        </form>

      </div>
    </div>

    <!--for right info  -->
    <div class="col-lg-6">

      <div class="card p-4 mb-4 shadow-sm">
        <h5 class="fw-bold mb-3">Contact Info</h5>

        
          <a href="mailto:ghanshyambhattarai18@gmail.com" class="contact-link d-block mb-2">
            <i class="bi bi-envelope"></i> ghanshyambhattarai18@gmail.com
          </a>
      

          <a href="tel:+358413267055" class="contact-link d-block mb-2">
            <i class="bi bi-telephone"></i> +358 413267055
          </a>

          <a href="https://www.google.com/maps?q=Metropolia+Karamalmi+Campus"
              target="_blank"
              class="contact-link d-block mb-2">

              <i class="bi bi-geo-alt"></i> Karamalmi Campus, Espoo, Finland

          </a>

         

      
      </div>

      <!-- social  -->
      <div class="card p-4 shadow-sm">
        <h5 class="fw-bold mb-3">Follow us</h5>

        <a href="https://github.com/ghanshyam20" class="social-icon">
          <i class="bi bi-github fs-4"></i>
        </a>

        <a href="https://www.linkedin.com/in/ghanshyam2026/" class="social-icon">
          <i class="bi bi-linkedin fs-4"></i>
        </a>

        <a href="https://x.com/ghanshyamb61482" class="social-icon">
          <i class="bi bi-twitter fs-4"></i>
        </a>
      </div>

    </div>

  </div>
</section>

<!-- map section  -->
<section class="container py-5">
  <h4 class="fw-bold text-center mb-4">Our Location</h4>

  <div class="ratio ratio-16x9">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1666.6342705133125!2d24.758513900000004!3d60.2239959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468df797cfe43cbb%3A0xb99a2c26d4df39ff!2sMetropolia%20University%20of%20Applied%20Sciences%20-%20Karamalmi%20Campus!5e1!3m2!1sen!2sfi!4v1778013870742!5m2!1sen!2sfi" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>

{% endblock %}