{% extends "base.html" %}
{% load static %}

{% block title %}Terms - InsightHub{% endblock %}

{% block content %}

<section class="container py-5">

  <div class="row g-5">

    <!-- for sidebar  -->
    <div class="col-md-3">
      <div class="list-group shadow-sm sticky-top" style="top:100px;">
        <a href="#use" class="list-group-item list-group-item-action">Use of Platform</a>
        <a href="#accounts" class="list-group-item list-group-item-action">Accounts</a>
        <a href="#content" class="list-group-item list-group-item-action">Content</a>
        <a href="#changes" class="list-group-item list-group-item-action">Changes</a>
      </div>
    </div>

    <!-- for the content  -->
    <div class="col-md-9">
      <div class="card p-4 shadow-sm">

        <h3 class="fw-bold">Terms and Conditions</h3>
        <p class="text-muted small">Last updated: 2026</p>
        <hr>

        <section id="use">
          <h5 class="fw-semibold">1. Use of Platform</h5>
          <p class="text-muted">
            InsightHub provides access to free and premium technical content.
            Users must use the platform responsibly and not misuse any features.
          </p>
        </section>

        <section id="accounts" class="mt-4">
          <h5 class="fw-semibold">2. Accounts</h5>
          <p class="text-muted">
            Users are responsible for maintaining account confidentiality
            and all activities under their login.
          </p>
        </section>

        <section id="content" class="mt-4">
          <h5 class="fw-semibold">3. Content</h5>
          <p class="text-muted">
            All content is provided for educational purposes.
            Redistribution without permission is not allowed.
          </p>
        </section>

        <section id="changes" class="mt-4">
          <h5 class="fw-semibold">4. Changes</h5>
          <p class="text-muted">
            Terms may be updated at any time without prior notice.
          </p>
        </section>

      </div>
    </div>

  </div>

</section>

{% endblock %}